body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 300px;
    background-color: #1F2937;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 0px 500px;
    padding-top: 100px;
    padding: 100px 300px 100px 300px;
    gap: 60px;
    flex-wrap: wrap;
}

.hero img {
    flex: 3;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.sub-title {
    color: #E5E7EB;
    opacity: 70%;
    font-size: 18px;
}

.sign-up-btn-1,
.sign-up-btn-2 {
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}


.sign-up-btn-1 {
    border: none;
}

.section-one {
    display: flex;
    flex-direction: column;
    padding: 0px 320px;
    padding-bottom: 100px;
}

.info-header {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    font-size: 18px;
}

.card img {
    width: 250px;
}

.section-two {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 330px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.author {
    align-self: flex-end;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
}

.section-three {
    display: flex;
    margin: 100px 280px;
    background-color: #3882F6;
    padding: 50px 100px;
    border-radius: 10px;
}

.action-text,
.sign-up-text {
    color: white;
    margin: 0;
}

.action-text {
    font-size: 24px;
    font-weight: 900;
}

.sign-up-text {
    font-size: 18px;
}

.sign-up-btn-2 {
    border-color: white;
    border-style: solid;
    margin-left: auto;
    align-self: flex-end;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    color: white;
}